.match-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.deck {
  position: absolute;
  will-change: transform;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck>div {
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 22rem;
  height: 33rem;
  will-change: transform;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);

  p {
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    background-color: #06385173;
    border-bottom: 5px solid #ef810f;
    border-radius: 0px 0px 10px 10px;
  }
}